@{
    ViewBag.Title = "About";
}

<div class="container">

   
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/imagenes/Gabriel.jpeg">
                <div class="caption">
                    <h3>Datos Personales</h3>
                    <div class="card-body">


                        <li><label>Nombre: </label>Gabriel Almonte</li>

                        <li><label>Carrera: </label>Desarrollo de Software</li>

                        <li><label>Matricula: </label>2017-4960</li>



                    </div>
                    <div class="form-actions no-color">
                        
                        @Html.ActionLink("Ir al inicio", "Index")
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



