@*@model Practica_5.Models.datosEstudiantes*@

@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">

    <div class="row">

        <div class="col-lg-offset-3">
            <img src="~/imagenes/bienvenidos-multicolor_1.jpg" class="img-responsive" />
        </div>

    </div>

    <h3>Consulta</h3>

    @*@Html.Label("Gabriel Almonte")
    @Html.RadioButtonFor(a => a.nombreestudi, "Gabriel Almonte ")
    @Html.Label("Miguel Reynoso")
    @Html.RadioButtonFor(a => a.nombreestudi, "Miguel Reynoso ")
    @Html.Label("Viuda")*@



</div>


